* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  --blue: #0A3871;
  --white:  #e5e5e5;
  --gray:#343A40;
  --black: #121219;
  --green: #04d361;
  --white-a: #D8DFE8;

  height: 100vh;
  background: var(--white);
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

button {
  padding: 2.4rem;
  width: 25.8rem ;
  cursor: pointer;
  border: 1px solid var(--blue);
  border-radius: 3.2rem;
  color: var(--black);
  font-weight: bold;
  background: var(--white-a);
  transition: 300ms;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(1.2)
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}