
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  background: var(--bg);
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;

  --black-font:#121214;
  --white-bg:#fff;
  --hover-border:#121214;
  --hover-button:#04d361;
  --green-msg:#04d361;  
}

body.light {
  --font-color:#0A3871;
  --dark-font:#121219;
  --white-font:#e5e5e5;  
  --content-bg:#fff;
  --content-border:#e5e5e5; 
  --border-button:#0A3871;
  --bg-button-en:#0A3871;
  --bg-button:#D8DFE8;  
  --bg:#e5e5e5; 
}

body.dark {
  --font-color:#e5e5e5;
  --dark-font:#e5e5e5;
  --white-font:#e5e5e5;
  --content-bg:#1123;
  --content-border:#8257e5;
  --border-button:#8257e5;
  --bg-button-en:#8257e5;
  --bg-button:#1234;  
  --bg:#121219; 
}

body.dark .img-dark {
  display: initial;
}

body.dark .img-light {
  display: none;
}

body.img-light .img-dark {
  display: none;
}

body.light .img-light {
  display: initial;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0 2rem;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

::placeholder {
  opacity: 0.6;
  color: var(--font-color);
}

button {
  padding: 2.4rem;
  width: 25.8rem ;
  cursor: pointer;
  border: 1px solid var(--border-button);
  border-radius: 3.2rem;
  color: var(--font-color);
  font-weight: bold;
  background: var(--bg-button);
  transition: 300ms;
}

button:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
}

button:active {
  background-color: var(--hover-button);
  border: 1px solid var(--hover-border);
  color: var(--hover-border);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  margin-top: 1rem;
  font-size: 1.6rem;
}

footer a {
  margin-left: .5rem;
}

footer a, p {
  color: var(--dark-font);
  text-decoration: none;
  transition: 500ms;
}

footer a:hover {
  text-decoration: underline;
  color: var(--hover-button);
}
