@media (max-width: 850px) {
  #content {
    min-width: 60rem;
    max-height: 28rem;
  }
  
  #textUser {
    margin-right: 0;
  }

  .img-init img {
    display: none;
  }

  .box-result {
    max-height: 15rem;
    min-width: 100%;
  }

}