
@media (max-width: 850px) {



  .main__textarea {
    margin-right: 0;
  }

  .result__box {
    max-height: 15rem;
    min-width: 100%;
  }

}

@media (max-width: 600px) {
  
  #main {
    overflow: hidden;
  }

  .main__textarea {
    margin-left: 21%;
    width: 350px;
  }

  .clean-text {
    max-width: 25rem;
    margin-left: 12rem;
  }

  .box-button-cont {
    display: flex;
    flex-direction: column;
  }
  
  .btn-decrypt {
    margin-top: 1rem;
  }
  
  .warning {
    margin-right: 8%;
    text-align: center;
  }
  
  #content {
    min-width: 300px;
  }

  body.dark .img-dark {
    display: none;
  }
  
  body.dark .img-light {
    display: none;
  }
  
  body.img-light .img-dark {
    display: none;
  }
  
  body.light .img-light {
    display: none;
  }
  
  .result {
    overflow-x: auto;
    min-height: 60px;
  }

}
