
.result {
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 3.2rem;
  border: 1px solid var(--content-border);
  padding: 2rem;
  width: 25rem;
  height: 55rem;
  background: var(--content-bg);
  color: var(--dark-font);
}

.result__box {
  overflow-y: auto;
  overflow-x: hidden;
  width: 21.7rem;
  height: 40.0rem;
}

.result__box--response {
  font-size: 1.6rem;
  overflow-wrap: break-word;
  color: var(--font-color);
}

.result__box--image {
  text-align: center;
}

.result__box--image img {
  margin-top: 40%;
  width: 100%;
}

.result__box--image-dark {
  display: none;
}

.result__box--image-title {
  font-size: 2rem;
  font-weight: bold;
}

.result__box--image-text {
  font-size: 1.6rem;
}

.result__button-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 10.7rem;
}

.result__button-response {
  position: absolute;
  top: 1rem;
  left: 1.8rem;
  display: none;
  font-size: 1rem;
  color: var(--green-msg);
}

.result__button-copy {
  position: absolute;
  bottom: 1rem;
  display: none;
  width: 100%;
}

@media screen and (max-width: 930px) {
  body.dark .result__box--image-dark,
  body.dark .result__box--image-light,  
  body.light .result__box--image-dark,
  body.light .result__box--image-light {
    display: none;
  }

  .result  {
    min-width: 100%;
    max-height: 28rem;
    margin-top: 3rem;
  }

  .result__box {
    width: 100%;
    height: 100%;
    max-height: 15rem;
  }
}